.name {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid black;
    justify-content: space-around;
   
    /* align-items: center; */
}
.wrapper {
    position: relative;
  }
.br {
    position: relative;
    z-index: 1;
    background-color: #cccccc;
    height: 94vh;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}
.meat {
    z-index: 50;
    position: absolute;
}

.blue {
   
    font-size: 200%;
    
}
.underline {
    text-decoration: underline;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.box {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center
}


  
 